.youtube {
    border: 1px solid black;
    width: 1200px;

    display: flex;

    > .menu {
        border-right: 1px solid black;
        width: 20%;
        box-sizing: border-box;
    }

    > .menu-content {
        width: 80%;
        height: 100%;
        margin: 4px;
        display: flex;
        box-sizing: border-box;


        // flex-direction: row;
        > div {
            width: 100%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: co;
            margin: 8px;
            box-sizing: border-box;

            > .video {
                display: flex;
                flex-direction: column;
                box-sizing: border-box;
                width: calc(50% - 32px);
                height: auto;
                margin: 16px;

                > div {
                    display: flex;
                    width: 100%;
                    box-sizing: border-box;

                    > img {
                        width: 100%;
                        height: auto;
                    }
                }
            } 
        }
    }
}